{% extends 'base.html' %}

{% load static %}
{% block head_title %}Koboko United Savings and Credit Cooperative Society{% endblock %}
{% block content %}
<main id="main">
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2 class="pt-3">Our Background</h2>
      <ol>
        <li><a href="{% url 'koboko_sacco:index' %}">Home</a></li>
        <li>Our Background</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs -->
<section id="team" class="team section-bg">
<div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2 class="pb-4 pt-4">Background of <strong>KUSACCO</strong></h2>
    </div>
    <div data-aos="fade-up">
      <p class="text-justify">
        Koboko United Savings and credit Cooperative society limited (Kusacco) was started by a group of women called the koboko United women association KUWA IN 1987<br><br>
        In the year 1987, there were no banking facilities in koboko and yet the people were in dire need of these facilities.<br><br>
        The small group of women the therefore came together pooling their resources and they were only interested in creating a finance basket save and advance loans to each other at affordable rates.<br><br>
        They had no idea the organization would be an inspiration to many. With the help of rural microfinance limited (RMFL), the women were advised to form a cooperative
        On the 17th April 2003, Kusacco was registered as a cooperative savings and society with the registration no 6720 under the cooperative act 1991, with a total 0f 243 members. 136 being female, 101 males, 06 groups and 03 management staff.<br><br>
        Since inception in 2003, Kusacco has grown from strength to strength as the leading Sacco in koboko with nearly 8,000 members.<br><br>
        Kusacco has developed a wide range of clientele which includes government institutions, non government organizations and cooperate companies, business men and women,farmers,students.<br><br>
        With the help and partnership with aBi –Trust and in line with the growth and expanction strategy, KUSACCO has adopted a strong, bold brand inclusive of members from all walks of life.<br><br>
        The Sacco’s operations are concentrated within the sub counties of Koboko that is Kuluba, LudaraAbuku, Midia, Lobule, Dranya and Koboko Municipality divisions.<br><br>
        However with the growing need of financial services, Kusacco has extended its coverage to the whole of West Nile, some parts of south Sudan and Democratic Republic of Congo.<br><br>
        Kusacco offers financial services to its members regardless of their age, sex, race, creed religion or marital status.
        To cater for the growing needs of the microfinance clients in Uganda, Koboko United Sacco offers a number of products and services such as savings, credit schemes, Consultancy and Financial literacy trainings, cash transfers, Agency banking services.

      </p>
    </div>
</div>
<div class="container pt-5 mt-2 pb-5 mb-5">

    <div class="" data-aos="fade-up">
      <h2 class="pb-4 pt-2">KUSACCO Logo History</h2>
    </div>
    <div data-aos="fade-up">
      <p class="text-justify">
        The evolution of Koboko United Sacco logo attests to our commitment to develop and grow our community while remaining relevant. The logo design expresses the position of the Sacco in our Agrarian economy and pays homage to key mileage to our civilization.<br><br>
        The koboko united Sacco logo reflects the peoples remarkable history of over hundreds of years in the agricultural economy.<br><br>
        The green foreground in the logo implies the two farmers in the middle ground.<br><br>
        The two people holding the hoe and money are the farmers who grow the crops in the foreground.
        Over the years the logo has morphed to reflect the inevitable evolution of the times and the Sacco’s contribution to the growth and development of the region of West Nile in specific koboko District.<br><br>
        These changes illustrate how the Sacco has managed to maintain its illustrious legacy.


      </p>
    </div>
</div>
</section>
</main>
{% endblock content %}