<!DOCTYPE html>
<html>
    <body>
        <div>
            <h3>What We Offer</h3>
            <ul>
                <li>Savings</li>
                <li>Loans</li>
                <li>Money transfers</li>
                <li>Agency banking services</li>
                <li>Tractor services</li>
                <li>Customer support</li>
            </ul>
        </div>
        <div>
            <h3>WHAT WE OFFER</h3>
            <h6>SAVINGS
            </h6>
            <ul>
                <li><p>Make your day today transactions easy with our Koboko United Sacco Savings Accounts. Our accounts ensure safety and security of your finances. Whether you would like to freely access or earn interest from it. We have different types of accounts to suit your needs.
                </p></li>
                <li><p>Get started today and bank with Koboko United Sacco in a safe and secure manner.
                </p></li>
            </ul>
        </div>
        <div>
            <h3>ORDINARY SAVINGS ACCOUNT (PERSONAL ACCOUNT GUIDE)</h3>
            <p>With our Ordinary savings account, you have the perfect medium to accumulate personal deposits and make withdrawals at your convenience.
            </p>
            <p>What you need to open an Ordinary Savings Account
            </p>
            <ul>
                <li>	2 Current passport photograph of yourself.
                </li>
                <li>Valid identification document of yourself. Please provide a national ID for Ugandans of passport for foreign nationals</li>
                <li>Personal phone number</li>
                <li>Read our personal  account terms and conditions and agree by appending your signature</li>

            </ul>
            <h5>Fees</h5>
            <ul>
                <li>Account opening – UGX 36,00</li>
                <li>Minimum account balance – UGX 5,000</li>
                <li>Monthly account management fees – Free</li>
                <li>Counter cash withdrawals per transactions – Free</li>
                <li>Cash deposits – UGX Free</li>
                <li>Annual Subscription fee – UGX 2,000</li>
            </ul>
            <h5>INFANT ACCOUNT (KIDS ACCOUNT GUIDE)</h5>
            <p>You can regularly save small amounts and fix to accumulate a lump sum towards the future of your child. Make life easy and save to finance your children’s education.
            </p>
            <p>What you need to open an ordinary Savings Account
            </p>
            <p>Please ensure you have all items below readily available to get started with Koboko United Sacco Infant Savings Account.</p>
            <h4>Requirements</h4>
            <ul>
                <li>2 Current passport photograph of yourself (the minor)</li>
                <li>Birth certificate of the minor or An Immunization Card or alternatively an introduction letter from the Area LC1 Chairperson.</li>
            </ul>
            <h4>Fees/ product features</h4>
            <ul>
                <li>Account opening – UGX 36,00</li>
                <li>Minimum account balance – UGX 5,000</li>
                <li>Monthly account management fees – Free</li>
                <li>Counter cash withdrawals per transactions – Free</li>
                <li>Cash deposits – UGX Free</li>
                <li>Annual Subscription fee – UGX 2,000</li>
            </ul>
            <h4>FIXED DEPOSIT ACCOUNT</h4>
            <p>This account allows you to accumulate progressive savings while providing amazing interest paid on your savings up to 10% per annum. It’s available to individuals, businesses, companies, groups, churches and organizations.
            </p>
            <h6>Requirements</h6>
            <ul>
                <li>1 Current passport photograph of yourself.</li>
                <li>Valid identification document – National ID or Passport for foreign nationals.</li>
                <li>Valid phone number</li>
                <li>Account opening balance of  - UGX 200,000</li>

            </ul>
            <div>
                <p>Product features /Reasons for why you should open a fixed deposit account.</p>
                <ul>
                    <li>Flexible Investment period</li>
                    <li>Access to loans against the fixed deposits</li>
                    <li>Automatic rollover of investment facility</li>
                </ul>
            </div>
            <div>
                <p>JOINT ACCOUNT.</p>
                <p>Make your way to accumulating wealth very easy with our joint account if you cannot do it alone more quickly. Save small amounts of money with a trusted partner, friend or as a family and accumulate your investment capital. Skyrocket your dreams today with our Koboko united Sacco Joint Accounts.
                </p>
                <h6>Requirements</h6>
                <ul>
                    <li>2 Current passportsSize photographs each for the joint account holders.</li>
                    <li>Valid identification document – National ID or passport for foreign nationals</li>
                    <li>Valid email address and phone number</li>
                    <li>Read our personal account terms and conditions and agree by appending your signature.</li>
                </ul>
            </div>
            <div>
                <h6>Fees</h6>
                <ul>
                    <li>Account opening – UGX 36,00</li>
                    <li>Minimum account balance – UGX 5,000</li>
                    <li>Monthly account management fees – Free</li>
                    <li>Counter cash withdrawals per transactions – Free</li>
                    <li>Cash deposits – UGX Free</li>
                    <li>Annual Subscription fee – UGX 2,000</li>

                </ul>
            </div>
            <div>
                <h3>GROUP/VSLA ACCOUNTS</h3>
                <p>Enjoy this easy and convenient way to manage your groups/ VSLA finances. With this you can regularly save to build up a lump sum to fix. Withdrawals are also at your convenience.
                </p>
                <h6>
                    Requirements
                </h6>
                <ul>
                    <li>2 passport size photographs each for the Group’s/VSLA signatories</li>
                    <li>Valid identification of the Group’s /VSLA signatories</li>
                    <li>Valid email address and phone numbers of the Group’s /VSLA Signatories.</li>
                    <li>Minutes of the Group/VSLA detailing Account opening consensus by the members.</li>
                </ul>
                <h6>Fees</h6>
                <ul>
                    <li>Account opening – UGX 36,00</li>
                    <li>Minimum account balance – UGX 5,000</li>
                    <li>Monthly account management fees – Free</li>
                    <li>Counter cash withdrawals per transactions – Free</li>
                    <li>Cash deposits – UGX Free</li>
                    <li>Annual Subscription fee – UGX 2,000</li>

                </ul>

            </div>
            <div>
                <h6>LOANS</h6>
                <h4>SALARY LOAN</h4>
                <p>Do you need a quick cash to pay for your further studies or your children’s education, rent or take that much needed vacation, buy a car, furnish a home, build a home? Koboko United Sacco salary loan is here for you. Get started today.
                </p>
                <p>Package benefits and features.</p>
                <ul>
                    <li>Facility is unsecured – No collateral or security is needed</li>
                    <li>Enjoy discounted rates of 2% per month</li>
                    <li>Get amounts of up to UGX 30,000,000</li>
                    <li>Flexible and affordable monthly repayments of up to 60 months</li>
                    <li>Enjoy quick to pups after servicing for 6 months</li>
                    <li>Peace of mind with our salary loan insurance covers</li>
                    <li> Processing time of not more than 3 Working days</li>
                </ul>

            </div>
            <div>
                <h5>SCHOOL FEES LOANS</h5>
                <p>Are you stuck with school fees dues? Do you need to buy some scholastic or school requirements for your school going children? Would you like to pay for your masters? Let us help you get started. We will be with you the entire journey to your graduation day. Here is what you need to know.
                </p>
                <p>Package benefits and features.</p>
                <ul>
                    <li>Get amounts of up to UGX 2 Million</li>
                    <li>Flexible and affordable monthly repayments of up to 6 months</li>
                    <li>Enjoy discounted interest rates of 2.5% per month.</li>
                    
                </ul>
            </div>
            <div>
                <h6>FARMERS’ LOAN(AGRICULTURAL LOAN)</h6>
                <p>Package benefits and features</p>
                <ul>
                    <li>Enjoy discounted interest rates of 2 % on the borrowed amount.</li>
                    <li>Enjoy discounted interest rates of up to UGX 1.5 Million</li>
                    <li>Flexible and affordable monthly repayments of up to 8 months( pay the interest of 2% in the first  6 months and principle in the 7th and 8th month)</li>
                    <li>Peace of mind with our loan insurance covers in the 8 months period.</li>

                </ul>
            </div>
            <div>
                <h5>MOTORCYCLE LOANS</h5>
                <p>Do you need to purchase your first motorcycle or buy your loved one a gift? The Koboko United Sacco Motorcycle Loan is designed with you and your family in mind.
                </p>
                <p>Package benefits and features</p>
                <ul>
                    <li>Enjoy discounted interest rates of 2.5% per month.</li>
                    <li>Financing options of up to 70% value of motorcycle.</li>
                    <li>Get amounts of up to – UGX 60,000,000</li>
                    <li>Flexible and affordable monthly repayments of up to 36 months</li>
                    <li>Peace of mind with our motorcycle loan insurance covers</li>

                </ul>
                <p>Actual rates and monthly repayments may differ and will be based on your personal conditions, employment, the loan amount and period.</p>
            </div>
            <div>
                <h5>
                    ASSET LOANS 
                </h5>
                <h5>COMMERCIAL LOANS</h5>
                <p>Get to the unimaginable heights with our commercial loans. Have the confidence to move your small and medium enterprise to a new scale. Get started today?
                </p>
                <p>Package benefits and features</p>
                <ul>
                    <li>Enjoy discounted interest rates of 2.5% per month.</li>
                    <li>Get amounts of up to – UGX 90,000,000</li>
                    <li>Flexible and affordable monthly repayments of up to 36 months</li>
                    <li>Peace of mind with our loan insurance covers</li>
                </ul>

            </div>
            <div>
                <h3>EMERGENCY LOANS</h3>
                <p>Koboko United Sacco extends emergency loans to its members to the extent possible to meet the emergency and critical needs of the members such as medical treatment, accidents and deaths.
                </p>
                <p>Package benefits and features.</p>
                <ul>
                    <li>Enjoy discounted rates of 5% per month for our emergency loan</li>
                    <li>Flexible and affordable monthly repayments of up to 3 months</li>
                    <li>Peace of mind with our salary loan insurance covers</li>
                    <li>Instant processing- Less than 24Hours</li>
                    <li>Loan amount is dependent on your ability to pay.</li>

                </ul>
            </div>
            <div>
                <h5>MONEY TRANSFERS</h5>
                <h6>AGENCY BANKING SERVICES</h6>
                <h6>TRACTOR SERVICES</h6>
                <p>It goes without saying that Small holder farmers in Uganda are responsible for 90% of produce yearly and there is no doubt that small holder farms form the backbone of the Ugandan agricultural sector. Small holder farms are also Uganda’s current reality, the hold the key to agricultures come back.
                </p>
                <p>
                    Koboko United Sacco with the hope that mechanization has the potential to expand production and improve time lines of operation offers tractor hire services to the community.We keep it going day after day on as we make the heavy work for farmers very easy. You will appreciate the real satisfaction of our operations with the experienced team of our drivers. Make your agricultural life stronger with our farmer’s hero tractor services.
                </p>

            </div>

        </div>
    </body>
</html>
